li{
    margin-top: 4px;
    margin-left: 140px;
}
.navbar-default .navbar-nav>li>a {
    font-weight:bolder;
    font-size: 18px;
    color: #edffeb;
    font-style:inherit;
}
.navbar-default .navbar-nav>li>a:hover{
    color: rgba(230, 107, 62, 0.788);
}
li{
    margin-left: 300px;
}
#brand{
margin-left: 40px;
margin-top: 4px;
color: rgba(216, 115, 78, 0.849);
font-size: 37px;
letter-spacing: 2px;
}
.navbar-header{
background-color: #1a241986;
width:220px;
height: 60px;
margin-left: 0%;
}
.container-fluid>.navbar-header{
    margin-left: -15px;
}
.navbar {
    height: 60px;
}
.container-fluid{

    background-color: #60855c;
}
.bar{
height: 210px;
width: 210px;
/*background:#60855c ;*/
position: relative;
margin: 150px 100px;
}
.out{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* border: 1px solid red;*/
    padding :20px;
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(255,255,255,0.7);
}
.in{
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red;*/
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(255,255,255,0.7),
                -0.5px -0.5px 0px rgba(255, 255, 255, 1),
                0.5px 0.5px 0px rgba(255, 255, 255, 1);
}
#number{
font-weight: 600;
color: #555;
font-size: 18px;
}
circle{
fill:none;
stroke:url(#GradientColor) ;/*url(#gradiantcolor)*/
stroke-width: 20px;
stroke-dasharray: 560;
stroke-dashoffset: 560;
animation: anim 2s linear forwards;
}
svg{
position: relative;
bottom: 180px;
right: 4px;
bottom: 200px;
}
.bar{
justify-content: center;
text-align: center;
}
@keyframes anim {
    100% {
      stroke-dashoffset: var(--progress-num); /*560 - 560 *0.9 */
    } /* Your animation definition */
    }
    :root {
        --progress-num : 56;
      }
      
@keyframes anime {
        100% {
          stroke-dashoffset: var(--progress-num); /*560 - 560 *0.9 */
        } /* Your animation definition */
        } 